@use "sass:meta";
@use 'config';
@use 'menu';
@use 'projects';
@use 'sass:color';
* {
    box-sizing: border-box;
}

// Navbar

.navbar-container {
    display: flex;
    justify-content: flex-end;

    .navbar {
        display: flex;
        justify-content: space-around;
        width: 286px;
        margin-top: 40px;
        margin-right: 40px;

        a {
            font-size: 1.2rem;
            &:hover {
                border-bottom: 6px solid #333;
                padding-bottom: 2px;
                @include config.easeOut;
            }
        }
    }
}

.section-header {
    text-align: center;
    font-weight: 600;
    margin-bottom: 30px;
}

body {
    background: rgba(config.$primary-color, config.$background-opacity);
    color: config.set-text-color(config.$primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

div#home {
    margin-top: 3rem;
}

// Headings

h1, h2, h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading {
        font-size: 6rem;
    }

    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(color.adjust(config.$primary-color, $lightness: 2), 0.5);
    }
}

// Links

a {
    color: white;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color: config.$secondary-color;
}

main {
    padding: 4rem;
    min-height: calc(100vh - 60px);

    &#home {
        overflow: hidden;
        h1 {
            margin-top: 20vh;
        }
    }

    .icons {
        margin-top: 1rem;
        a {
            padding: 0.4rem;
            &:hover {
                color: config.$secondary-color;
                @include config.easeOut;
            }
        }
    }
}

.about-info {
    display: grid;
    gap: 30px;
    grid-template-areas: 
    'bioimage bio bio'
    'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr);
    .bio {
        grid-area: bio;
        font-size: 1.5rem;
    }

    .job {
        background: color.scale(config.$primary-color, $lightness: -8%);
        padding: 0.5rem;
        border-bottom: config.$secondary-color 5px solid;
    }

    .job-1 {
        grid-area: job1;
    }
    .job-2 {
        grid-area: job2;
    }
    .job-3 {
        grid-area: job3;
    }
    .bio-img {
        grid-area: bioimage;
        margin: auto;
        border-radius: 50%;
        border: config.$secondary-color 3px solid;
    }
}

.projects {
    display: grid;
    gap: 0.7rem;
    grid-template-columns: repeat(3, 1fr);

    img {
        width: 100%;
        border: 3px #fff solid;

        &:hover {
            opacity: 0.5;
            border-color: config.$secondary-color;
            @include config.easeOut;
        }
    }
}

// Contact 
.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;

    div {
        font-size: 2rem;
        border: 3px #fff solid;
        padding: 1.5rem 2.5rem;
        margin-bottom: 3rem;
        @include config.easeOut;

        &:hover {
            padding: 0.5rem 1.5rem;
            background: config.$secondary-color;
            color: config.set-text-color(config.$secondary-color);

            span {
                color: config.set-text-color(config.$secondary-color);
            }
        }
    }
}

.btn {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
    &:hover {
        background: config.$secondary-color;
        color: config.set-text-color(config.$secondary-color);
    }
    @include config.easeOut;
}

.btn-dark {
    @extend .btn;
    background: color.scale(config.$primary-color, $lightness: -50%); 
    color: #fff;
}

.btn-light {
    @extend .btn;
    background: color.scale(config.$primary-color, $lightness: 50%); 
    color: #333;
}

#main-footer {
    text-align: center;
    padding: 1rem;
    background: color.scale(config.$primary-color, $lightness: -8%);
    height: 60px;
}

@include meta.load-css('mobile');