@use 'config';

@include config.mediaXL {
    div#home {
        padding: 0 12rem;
    }
}

@include config.mediaLg {
}

@include config.mediaMd {
    .navbar-container {
        justify-content: center;

        .navbar {
            margin-right: 0;
        }
    }
    main {
        align-items: center;
        text-align: center;

        #home {
            padding: 0 2rem;
        }

        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }
    }
    .projects-container {
        .project-card {
            font-size: 0.7rem;
            column-gap: 20px;
            img {
                max-width: 300px;
                height: 240px;
                width: auto;
            } 
            .project-content {
                h3 {
                    font-size: 1.2rem;
                }
            }
        }
    }
}

@include config.mediaSm {
    main#home h1 {
        margin-top: 10vh; 
    }

    .projects-container {
        .project-card {
            img {
                height: 260px;
                max-width: 250px;
                width: auto;
            }
        }
    }
}
@include config.mediaSm {
    .projects-container {
        .project-card {
            
        } 
    }
}