@use 'sass:color';
@use 'config';

.projects-container {
    .project-card {
        margin-bottom: 30px;
        font-size: 1rem;
        position: relative;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
        'project-img project-content project-content project-content';
        column-gap: 10px;

        img {
            width: 300px;
            height: auto;
            border-radius: 20px;
            grid-area: project-img;
        }

        .project-content {
            display: grid;
            grid-area: project-content;
            text-align: left;
            grid-template-areas:
            'project-title'
            'project-desc'
            'project-tech'
            'project-links';

            p.project-desc {
                max-height: 170px;
                max-width: 490px;
                font-size: 0.8rem;
            }

            .project-skills {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin-bottom: 3vh;
                font-size: 0.8rem;

                .project-skill {
                    display: inline-flex;
                    align-items: center;
                    border: 2px solid #92eac0;
                    padding: 0.5px 5px;
                    border-radius: 4px;
                    margin-right: 1rem;
                    margin-bottom: 10px;
                }
            }

            .project-links {
                a.project-link {
                    font-size: 0.8rem;
                    padding: 10px;
                    border-radius: 5px;
                    border: 2px solid #7795f8;
                    background-color: #7795f8;
                    margin-right: 10px;

                    &:hover {
                        $hover-color: color.scale(#7795f8, $lightness: -20%);
                        background-color: $hover-color;
                        border-color: $hover-color;
                        @include config.easeOut;
                    }

                }
            }
        }
    }
}